
  
  .chat-cont {
    height: 100%;
    width:  min(50%, 350px);
    display: flex;
    flex-direction: column;
  }
  
  .chat-cont .user-input {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    font-size: 14px;
    max-height: 50px;
    color: #FFF;
    button, input {
      font-size: inherit;
    }
  }
  
  
  
  .chat {
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    border: 1px solid var(--clr-main-purple);
  }
  
  .message {
    padding: 0.2em 0.7em;
    border-radius: 10px;
    margin: 5px 3px;
    max-width: calc(100% - 5ch);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation-name: new-message;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }
  
  .message .username {
    font-size: 0.7rem;
    font-weight: 700;
  }
  
  .message .text {
    font-size: 0.9rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .my-message {
    align-self: flex-end;
    background:  var(--clr-main-purple);
    color: #FFF;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
  }
  
  .friend-message {
    background:  transparent;
    color: #fff;
    border: 0.5px solid var(--clr-main-purple);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
  }
  
  @keyframes new-message {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }