.main-container {
    --max-itwd: min(70%, 700px);
    min-height: 100vh;
    background-color: var(--clr-main-dark);
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo
    {
        margin: 4rem 0;
        width: var(--max-itwd);
        height: 150px;
        background-color: var(--clr-main-dark);
        background-image: url(../../../chest/files/logo.png);
        background-blend-mode: lighten;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .info-game
    {
        color: var(--clr-main-clear);
        width: var(--max-itwd);
        font-size: 20px;
        text-align: left;
        margin: 1em 0;
    }

    .create-room-card {
        background-color: var(--clr-main-dark);
        color: var(--clr-main-clear);
        width: var(--max-itwd);
        display: grid;
        grid-column-gap: 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "inf inp1" 
        "inf btn1" ;

        & > * {
            padding: 1.2em 0;
        }

        .info-url {
            grid-area: inf;
            text-align: left;
        }

        & input {
            padding: 0.5em;
            font: inherit;
            width: 100%;
        }

        .input-cont {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            &.num1 { grid-area: inp1 }
            &.num2 { grid-area: inp2 }
        }

        .copy-btn {
            padding: 0.7em;
        }

        .card-btn {
            width: 100%;
            padding: 0.7em;
        }

    }
}